<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Appointment Create</title>
    </head>
    <body>
          <h2>Create Appointment</h2>
              <p class="mt-2">Fill Appointment Detail</p>
          
            <hr>
            <form method="post">
              {%csrf_token %}
              <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Patient Name</label>
                  <input type="text" class="form-control" name="p_id" required value="{{patient.first_name}}">
      
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Doctor Name</label>
                  <input type="text" class="form-control" name="d_id" required value="{{patient.assignedDoctorId.first_name}}">
      
                </div>
                
      
              <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Appointment Date</label>
                  <input type="date" class="form-control" name="a_date" required>
      
                </div>
               
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Description</label>
                  <input type="text" class="form-control" name="description" required>
      
                  
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Status</label>
                  <input type="checkbox" class="form-control bg-light" name="status" >
      
                </div>
                
              </div>
      
             
            
                 
         
            <div class="col-lg-3">
              <button type="submit" class="btn btn-secondary  ms-3 my-3" style="border-radius: 10px;"
                ></a>Save</button>
            </div>
          
        </div>
                
            </form>
          </div>
      
      
       
</body>
</html> 