<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Create</title>
</head>
<body>
   
          <h2>Create Patient</h2>
              <p class="mt-2">Fill Patient Detail</p>
          
            <hr>
            <form method="post">
              {%csrf_token %}
              <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">First name</label>
                  <input type="text" class="form-control" name="fname" required>
      
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Last Name</label>
                  <input type="text" class="form-control" name="lname" required>
      
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Date of Birth</label>
                  <input type="date" class="form-control add" name="dob" required>
                  <p class="demo"></p>
      
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Email</label>
                  <input type="email" class="form-control" name="email" required>
      
                </div>
              </div>
      
              <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Mobile</label>
                  <input type="number" class="form-control" name="mobile" required>
      
                </div>
                <div class="col-lg-3">
      
                    <label class="my-2 fw-bold">Sex</label>
                    <select class="form-control" name="sex"  required>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Profile pic</label>
                  <input type="file" class="form-control" name="pic" required>
      
                  
                </div>
      
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Address</label>
                  <input type="text" class="form-control" name="add" required>
                 
                 
                </div>
                
              </div>
      
              <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Marital status</label>
                  <select class="form-control" name="m_status"  required>
                    <option>Single</option>
                    <option>Married</option>
                  </select>
         
                  
                </div>
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Emergency Contact</label>
                  <input type="number" class="form-control bg-light" name="e_contact" required>
      
                </div>

                <div class="col-lg-3">
      
                    <label class="my-2 fw-bold">Relationship</label>
                    <input type="text" class="form-control bg-light" name="relation" required>
        
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Weight</label>
                  <input type="text" class="form-control bg-light" name="weight" required>
                </div>

                
                <div class="col-lg-3">
      
                    <label class="my-2 fw-bold">Height</label>
                    <input type="text" class="form-control bg-light" name="height" required>
        
                  </div>

                  <div class="col-lg-3">
      
                    <label class="my-2 fw-bold"> Any Other Medicine</label>
                    <input type="checkbox" class="form-control bg-light" >
        
                  </div> 
                  
                  <div class="col-lg-3">
      
                    <label class="my-2 fw-bold">Other Medicine Reason</label>
                    <input type="text" class="form-control bg-light" name="reason" >
        
                  </div>
             
            </div>
            
            <div class="row">
                <div class="col-lg-3">
      
                  <label class="my-2 fw-bold">Symptons</label>
                  <input type="text" class="form-control bg-light" name="symptons" required>
                </div>


                <div class="col-lg-3">
      
                    <label class="my-2 fw-bold">Assigned Doctor Id</label>
                    <select name="d_id">
                      {% for doc in docs %}
                      
                        <option value="{{doc.id}}">{{doc.id}}</option>

                      {%endfor%}
                    </select>
                  </div>

                
                
                <div class="col-lg-3">
    
                    <label class="my-2 fw-bold">Status</label>
                    <input type="checkbox" class="form-control bg-light" name="status" >
                    </div> 
         
            <div class="col-lg-3">
              <button type="submit" class="btn btn-secondary  ms-3 my-3" style="border-radius: 10px;"
                ></a>Save</button>
            </div>
          
        </div>
                
            </form>
          </div>
      
      
       
</body>
</html>