<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h3 class="">
        <a href="{%url 'patient:create'%}"><button style="margin-left: 20px;"
            class="btn  btn-gradient-success fs-5   my-4 "> + Add
            patient</button></a>
   
      </h3>

      <div class="col-12 px-4">

        <div class="table-responsive container bg-white p-3 shadow" style="border-radius: 10px;">
          <table  class="table table-hover table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Sex</th>
                <th>Profile Pic</th>
                <th>Address</th>
                <th>Marital Status</th>
                <th>Emergency Contact</th>
                <th>Relationship</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Reason For Other Medicine</th>
                <th>Symptons</th>
                <th>Assigned Doctor Id</th>
                <th>Admit Date</th>
                <th> Discharge </th>
              </tr>
            </thead>
            <tbody>
    
              {% for patient in patients %}
              <tr>
                <td> {{ patient.first_name }}</a></td>
                <td> {{ patient.last_name }}</td>
                <td> {{patient.date_of_Birth}} </td>
                <td> {{ patient.email}}</td>
                <td> {{ patient.mobile}}</td>
                <td> {{ patient.sex }}</td>
                <td> {{ patient.profile_pic }}</td>
                <td> {{ patient.address }}</td>
                <td> {{ patient.marital_status}}</td>
                <td> {{ patient.emergency_contact}}</td>
                <td> {{ patient.relationship}}</td>
                <td> {{ patient.weight}}</td>
                <td> {{ patient.height}}</td>
                <td> {{ patient.other_medications_reason}}</td>
                <td> {{ patient.symptoms}}</td>
                <td> {{ patient.assignedDoctorId_id}}</td>
                <td> {{ patient.admitDate}}</td>
                <td> {{ patient.status}}</td>
                <td>
                  <button style="border: 2px solid chocolate;">
                    <a href="{%url 'patient:detail' patient.id%}">
                      <i class="mdi mdi-eye"></i> detail
                    </a>
                  </button>
                  <button style="border: none;">
                    <a href="{%url 'patient:update' patient.id%}">
                      <i class="mdi mdi-border-color"></i> update
                    </a>
                  </button>
                
                  <button style="border: none;">
                    <a href="{%url 'patient:delete' patient.id %}">
                      <i class="mdi mdi-delete"></i> delete
                    </a>
                  </button>
                  <button style="border: none;">
                    <a href="{%url 'appointment:create' patient.id %}">
                      <i class="mdi mdi-eye"></i> add appontment
                    </a>
                  </button>
                  {% if patient.status == 0   %}
                  <button style="border: none;">
                    <a href="{%url 'discharge:create' patient.id %}">
                      <i class="mdi mdi-eye"></i> Discharge
                    </a>
                  </button>
                  {%endif%}
                </td>
              </tr>
              {%endfor%}

            </tbody>
          </table>    

        </div>
      </div>    
    
    
    
    
      




</body>
</html>